body{
    background-image: url(bg.jpg);
    background-size: cover;
}

@media screen and (max-width: 500px){
    body{
        background-image: url(bg-phone.jpg);
        background-size: contain;
    }
    iframe{
        margin-top: 0 !important;
        width: 375px !important;
        height: 1000px !important;
    }
}
iframe{
    box-sizing: border-box;
    width: 100%;
    height: 849px;
    margin-top: 53px;
}

.x{
    width: 52px;
    height: 40px;
    background: black;
    position: absolute;
    left: 411px;
    top: 65px;
    z-index: 1;
}
iframe html body{
    overflow: hidden;
}